<div class="container">
  <section id="sec00">
    <p class="top_subtitle">朝の情報番組の占い結果をまとめてチェック！</p>
    <p class="top_title">Fortune Checker</p>
    <div class="sumunic_snsIcn">
      <ul class="logo_link">
        <li class="by">©︎</li>
        <li class="supunic"><a href="https://supunic.com/">supunic</a></li>
        <li class="twitter"><a href="https://twitter.com/supunic_sup" ><i class="fab fa-twitter-square"></i></a></li>
      </ul>
    </div>
    <ul class="fortune_btn">
      <li><%= link_to "めざまし占い", check_fortune_path("mezamashi") %></li>
      <li><%= link_to "ぐでたま占い", check_fortune_path("gudetama") %></li>
      <li><%= link_to "ゴーゴー星占い", check_fortune_path("gogo") %></li>
      <li><%= link_to "スッキりす誕生月占い", check_fortune_path("sukkirisu") %></li>
    </ul>
    <p class="cover_angle_down"><a href="#sec01"><%= image_tag "arw_bottom.png" %></a></p>
  </section>
  <section id="sec01">
    <div class="select_sign_title_div">
      <p class="update_sec01"><%= simple_time(@mezamashi[0].created_at) %> 更新</p>
      <h2>Check your sign!<small class="sub_title">今朝の占いをまとめてチェック！</small></h2>
    </div>
    <div class="select_sign_div">
      <ul>
        <li><%= link_to fortune_path("ohitsuji") do %><%= image_tag "ohitsuji.png" %><p>おひつじ座</p><% end %></li>
        <li><%= link_to fortune_path("oushi") do %><%= image_tag "oushi.png" %><p>おうし座</p><% end %></li>
        <li><%= link_to fortune_path("futago") do %><%= image_tag "futago.png" %><p>ふたご座</p><% end %></li>
        <li><%= link_to fortune_path("kani") do %><%= image_tag "kani.png" %><p>かに座</p><% end %></li>
        <li><%= link_to fortune_path("shishi") do %><%= image_tag "shishi.png" %><p>しし座</p><% end %></li>
        <li><%= link_to fortune_path("otome") do %><%= image_tag "otome.png" %><p>おとめ座</p><% end %></li>
        <li><%= link_to fortune_path("tenbin") do %><%= image_tag "tenbin.png" %><p>てんびん座</p><% end %></li>
        <li><%= link_to fortune_path("sasori") do %><%= image_tag "sasori.png" %><p>さそり座</p><% end %></li>
        <li><%= link_to fortune_path("ite") do %><%= image_tag "ite.png" %><p>いて座</p><% end %></li>
        <li><%= link_to fortune_path("yagi") do %><%= image_tag "yagi.png" %><p>やぎ座</p><% end %></li>
        <li><%= link_to fortune_path("mizugame") do %><%= image_tag "mizugame.png" %><p>みずがめ座</p><% end %></li>
        <li><%= link_to fortune_path("uo") do %><%= image_tag "uo.png" %><p>うお座</p><% end %></li>
      </ul>
    </div>
  </section>
  <section id="sec02">
    <div class="overall_ranking_title_div">
      <p class="update_sec02"><%= simple_time(@mezamashi[0].created_at) %> 更新</p>
      <h2>Today's Top3<small class="sub_title">星座占い総合ランキング</small></h2>
    </div>
    <div class="overall_ranking_div">
      <ul>
        <div class="top3_ranking_div">
          <%= link_to fortune_path(params_change_reverse(@overall_top3[0])) do %>
            <li class="ranking_img"><%= image_tag img_select(@overall_top3[0]) %></li>
            <li class="ranking_no1"><%= @overall_top3[0] %></li>
            <div class="ranking_div_about">
              <% @meza_result_1.each_with_index do |result, index| %>
                <% if result == "t" %>
                  <li class="meza_rank">めざまし<%= index+1 %>位</li>
                <% end %>
              <% end %>
              <% @gude_result_1.each_with_index do |result, index| %>
                <% if result == "t" %>
                  <li class="gude_rank">ぐでたま<%= index+1 %>位</li>
                <% end %>
              <% end %>
              <% @gogo_result_1.each_with_index do |result, index| %>
                <% if result == "t"  && index == 0 %>
                  <li class="gogo_rank_total">ゴーゴー総合1位</li>
                <% elsif result == "t"  && index == 1 %>
                  <li class="gogo_rank_gold">ゴーゴー金運1位</li>
                <% elsif result == "t"  && index == 2 %>
                  <li class="gogo_rank_love">ゴーゴー恋愛運1位</li>
                <% elsif result == "t"  && index == 3 %>
                  <li class="gogo_rank_work">ゴーゴー仕事運1位</li>
                <% elsif result == "t"  && index == 4 %>
                  <li class="gogo_rank_health">ゴーゴー健康運1位</li>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="top3_ranking_div">
          <%= link_to fortune_path(params_change_reverse(@overall_top3[1])) do %>
            <li class="ranking_img"><%= image_tag img_select(@overall_top3[1]) %></li>
            <li class="ranking_no2"><%= @overall_top3[1] %></li>
            <div class="ranking_div_about">
              <% @meza_result_2.each_with_index do |result, index| %>
                <% if result == "t" %>
                  <li>めざまし<%= index+1 %>位</li>
                <% end %>
              <% end %>
              <% @gude_result_2.each_with_index do |result, index| %>
                <% if result == "t" %>
                  <li>ぐでたま<%= index+1 %>位</li>
                <% end %>
              <% end %>
              <% @gogo_result_2.each_with_index do |result, index| %>
                <% if result == "t"  && index == 0 %>
                  <li>ゴーゴー総合1位</li>
                <% elsif result == "t"  && index == 1 %>
                  <li>ゴーゴー金運1位</li>
                <% elsif result == "t"  && index == 2 %>
                  <li>ゴーゴー恋愛運1位</li>
                <% elsif result == "t"  && index == 3 %>
                  <li>ゴーゴー仕事運1位</li>
                <% elsif result == "t"  && index == 4 %>
                  <li>ゴーゴー健康運1位</li>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="top3_ranking_div">
          <%= link_to fortune_path(params_change_reverse(@overall_top3[2])) do %>
            <li class="ranking_img"><%= image_tag img_select(@overall_top3[2]) %></li>
            <li class="ranking_no3"><%= @overall_top3[2] %></li>
            <div class="ranking_div_about">
              <% @meza_result_3.each_with_index do |result, index| %>
                <% if result == "t" %>
                  <li>めざまし<%= index+1 %>位</li>
                <% end %>
              <% end %>
              <% @gude_result_3.each_with_index do |result, index| %>
                <% if result == "t" %>
                  <li>ぐでたま<%= index+1 %>位</li>
                <% end %>
              <% end %>
              <% @gogo_result_3.each_with_index do |result, index| %>
                <% if result == "t"  && index == 0 %>
                  <li>ゴーゴー総合1位</li>
                <% elsif result == "t"  && index == 1 %>
                  <li>ゴーゴー金運1位</li>
                <% elsif result == "t"  && index == 2 %>
                  <li>ゴーゴー恋愛運1位</li>
                <% elsif result == "t"  && index == 3 %>
                  <li>ゴーゴー仕事運1位</li>
                <% elsif result == "t"  && index == 4 %>
                  <li>ゴーゴー健康運1位</li>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </ul>
    </div>
  </section>
  <section id="sec03">
    <div class="ranking_title_div">
      <h2>Ranking<small class="sub_title">占い別ランキング一覧</small></h2>
    </div>
    <div class="ranking_div">
      <div class="channel mezamashi_div">
        <div class="div_text">
          <h3 class="div_title">めざまし占い</h3>
          <p class="update"><%= simple_time(@mezamashi[0].created_at) %> 更新</p>
          <ul class="about_tag">
            <li>めざましテレビ</li>
            <li>フジテレビ</li>
            <li>月〜金</li>
          </ul>
          <ul class="fortune_result">
            <li class="rank_num1"><%= @mezamashi[0].sign %></li>
            <li><p><%= @mezamashi[0].text1 %>。<%= @mezamashi[0].text2 %>。</p></li>
            <li class="rank_num2"><%= @mezamashi[1].sign %></li>
            <li><p><%= @mezamashi[1].text1 %>。<%= @mezamashi[1].text2 %>。</p></li>
            <li class="rank_num3"><%= @mezamashi[2].sign %></li>
            <li><p><%= @mezamashi[2].text1 %>。<%= @mezamashi[2].text2 %>。</p></li>
          </ul>
          <%= link_to "", check_fortune_path("mezamashi"), class: "more_btn" %>
        </div>
      </div>
      <div class="channel gudetama_div">
        <div class="div_text">
          <h3 class="div_title">ぐでたま占い</h3>
          <p class="update"><%= simple_time(@gudetama[0].created_at) %> 更新</p>
          <ul class="about_tag">
            <li>はやドキ！</li>
            <li>ＴＢＳ</li>
            <li>月〜金</li>
          </ul>
          <ul class="fortune_result">
            <li class="rank_num1"><%= @gudetama[0].sign %></li>
            <li><p><%= @gudetama[0].text %>。</p></li>
            <li class="rank_num2"><%= @gudetama[1].sign %></li>
            <li><p><%= @gudetama[1].text %>。</p></li>
            <li class="rank_num3"><%= @gudetama[2].sign%></li>
            <li><p><%= @gudetama[2].text %>。</p></li>
          </ul>
          <%= link_to "", check_fortune_path("gudetama"), class: "more_btn" %>
        </div>
      </div>
      <div class="channel gogo_div">
        <div class="div_text">
          <h3 class="div_title">ゴーゴー星占い</h3>
          <p class="update"><%= simple_time(@gogototal_fortune.created_at) %> 更新</p>
          <ul class="about_tag">
            <li>グッド！モーニング</li>
            <li>テレビ朝日</li>
            <li>月〜金</li>
          </ul>
          <ul class="gogo_fortune_result">
            <li class="gogo_gold_num1"><%= @gogototal_fortune.gold_no1 %></li>
            <li><p><%= @gogo_gold_no1.text %></p></li>
            <li class="gogo_love_num1"><%= @gogototal_fortune.love_no1 %></li>
            <li><p><%= @gogo_love_no1.text %></p></li>
            <li class="gogo_work_num1"><%= @gogototal_fortune.work_no1 %></li>
            <li><p><%= @gogo_work_no1.text %></p></li>
            <li class="gogo_health_num1"><%= @gogototal_fortune.health_no1 %></li>
            <li><p><%= @gogo_health_no1.text %></p></li>
          </ul>
          <%= link_to "", check_fortune_path("gogo"), class: "more_btn" %>
        </div>
      </div>
      <div class="channel sukkirisu_div">
        <div class="div_text last">
          <h3 class="div_title">スッキりす占い</h3>
          <p class="update"><%= simple_time(@sukkirisu[0].created_at) %> 更新</p>
          <ul class="about_tag">
            <li>スッキリ</li>
            <li>日本テレビ</li>
            <li>月〜金</li>
          </ul>
          <ul class="fortune_result">
            <li class="rank_num1"><%= @sukkirisu[0].month %>月生まれ</li>
            <li><p><%= @sukkirisu[0].text %>。</p></li>
            <li class="rank_num2"><%= @sukkirisu[1].month %>月生まれ</li>
            <li><p><%= @sukkirisu[1].text %>。</p></li>
            <li class="rank_num3"><%= @sukkirisu[2].month %>月生まれ</li>
            <li><p><%= @sukkirisu[2].text %>。</p></li>
          </ul>
          <%= link_to "", check_fortune_path("sukkirisu"), class: "more_btn" %>
        </div>
      </div>
    </div>
  </section>
</div>
